PORT=5000
MONGO_URI=mongodb+srv://ashukaushik0357_db_user:Vihan1222@cluster0.fsk1wfo.mongodb.net/browser-sandbox?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=93e29cb657e14701b72e413d51453d0cff430f4c250bc98618c5646d8dd59baa
CLIENT_URL=http://localhost:5173
